NASCOP_PASSWORD=""
NASCOP_EMAIL=""

KMHFL_CLIENTID=""
KMHFL_CLIENT_SECRET=""

CPIMS_HOST="127.0.0.1"
CPIMS_DB="cpims"
CPIMS_PORT="5432"
CPIMS_DBUSER="postgres"
CPIMS_PASSWORD="postgres"
CPIMS_DEBUG=True