{% extends 'base_home.html' %}
{% load staticfiles %}

{% block page_title %} {{block.super}} Password reset {% endblock page_title%}    

{% block primary %}
<!-- begin right-content -->
<div class="right-content">
    <!-- begin register-header -->
    <div class="register-header">
        <h4 class="brand">Department of Children Services (DCS)</h4>
        <hr />
    </div>
    <!-- end register-header -->   
    <!-- begin register-content -->
    <div class="register-content">
        {% if messages %}
            {% for message in messages %}
            {% if 'error' in message.tags %}
                <div id="messages" class="alert alert-danger fade in m-b-15">
                <span class="close" data-dismiss="alert">×</span>
                <i class="fa fa-info fa-2x pull-left"></i>
            {% else %}
                <div id="messages" class="alert alert-success fade in">
                <span class="close" data-dismiss="alert">×</span>
                <i class="fa fa-check fa-2x pull-left"></i>
            {% endif %}    
                <p>{{ message }}</p>
            </div>
           {% endfor %}
        {% endif %}
        <div class="form-group">
            <p>Password reset successfully. Please check your email for instructions.</p>
        </div>
            <div class="m-t-20 m-b-40 p-b-40">
                Not registered yet? Click <a href="{% url 'home' %}" class="text-success">here</a> to request for access.<br>
                Have account? Click <a href="{% url 'login' %}" class="text-success">here</a> to login.
            </div>
            <span class="promo">
            <p>
                <img src="{% static 'img/logo.png' %}" height="40"> &nbsp;&nbsp; | &nbsp;&nbsp;
                <img src="{% static 'img/pima.jpg' %}" height="40">
            </p>
            </span>
            <hr />
            <p class="text-center text-inverse">
                &copy; {% now "Y" %} Department of Children Services (DCS). All Rights Reserved.
            </p>
    </div>
    <!-- end register-content -->
</div>
<!-- end right-content -->
        
{% endblock primary %}

{% block lazy_javascript_code %}{% endblock lazy_javascript_code %}
