{% extends 'base.html' %}
{% load app_filters %}
{% load staticfiles %}
{% block page_title %} Case Plan Template {% endblock %}
{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery.tagit.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet" />
<style type="text/css">
.dialog_paragraph {
  color: #f00;
}

.table_data {
  display: none;
}

.container {
    width: 100%;
    overflow-x: auto;
}

.td_style {
  /* color: #000000;*/
  color: #0057e7;
}
</style>
{% endblock %}

{% block javascript_code%}
{% endblock javascript_code%}

{% block primary %}

<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li><a href="#">Home</a></li>
	<li class="active">Forms</li>
</ol>
<!-- end breadcrumb -->

<!-- begin page-header -->
<!-- {% for data in init_data %} -->

	<h1 class="page-header">Forms <small>Case Plan Template <b> {% for cgvr in care_givers %} {{cgvr}} {% endfor %}
         <!-- | {{ data.first_name }} {{ data.surname }} | {{ data.sex_id|gen_value:vals }} | {% if data.date_of_birth|gen_age == 0 %}
                            UNDER 1 YEAR
                        {% else %}
                            {{ data.date_of_birth|gen_age }} YRS 
                        {% endif %} -->
                    </b></small></h1>

<!-- {% endfor %} -->
<!-- end page-header -->

<!-- #csi-warning-dialog -->
<div class="modal fade" id="csi-warning-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h4 class="modal-title">
                <div id="closure-warning-dialog-header">
                    Warning      
                </div>
                </h4>
            </div>
            <div class="modal-body">
                <div>
                    <h4><i class="fa fa-info-circle"></i> <small><b><span id="span_csi_alert" class="dialog_paragraph"></span></b></small></h4>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
<!-- #end-csi-warning-dialog -->

<div id="error_message" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <!--<span class="close" data-dismiss="alert">×</span>-->
    <button type="button" class="close" data-hide="alert">&times;</button>
    <i class="fa fa-info fa-2x pull-left"></i>
    <span class="invalid-form-message" id="invalid-form-message"></span>
</div>


<div id="success_message" class="alert alert-success fade in" style="display: none;">
    <!--<span class="close" data-dismiss="alert">×</span>-->
    <button type="button" class="close" data-hide="alert">&times;</button>
    <i class="fa fa-check fa-2x pull-left"></i>
    <p></p>
</div>


{% if err_msgg  %}

<div class="alert alert-danger" id="error-message-reuse">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <span class="mesgg"></span>
  {{ err_msgg }}
</div>

{% endif %}

<div id="warning_message" class="alert alert-warning hidden">
    <span class="mesagg" id="mesagg"></span>
</div>

<!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#delete-form1a-entry">Open Modal</button>-->

  <!--Confirm form1a delete Modal -->

  <div class="modal fade" id="delete-form1a-entry" style="margin-left: auto; margin-right: auto; width: 50%;" role="dialog">
    <div class="modal-dialog modal-sm">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delete Entry</h4>
        </div>
        <div class="modal-body">
          <p style="color: #ff0000; font-size: 16px;">Delete selected entry?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-default" onclick="deleteForm1aEntry()" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default btn-primary" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
  </div>

<!-- begin row -->
<div id='case_details' class="row">

	<!-- begin col-12 -->
    <div class="col-md-12">
    	<!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-expand"><i class="fa fa-minus"></i></a>
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title"> Case Plan </h4>
            </div>
            <div class="panel-body">
                <div id="form1_info"></div>
            	

					<div id="wizard-f1a">






						<!-- begin wizard step-1 -->
						<div class="wizard-step-1">
                            <fieldset>

                                <div id="error_assessment"></div>
                                <!-- begin col-6 -->
								<div class="row">
									<div class="col-md-3 hidden">
										<div class="form-group">
											<label class="control-label formlabel">Is this the first Case Plan Readiness Assessment?:</label><br/>
											
										</div>
										<label class="radio-inline">
											<input type="radio" name="if_first_cpara" value="AYES">
											Yes
										</label>
										<label class="radio-inline">
											<input type="radio" name="if_first_cpara" value="ANNO">
											No
										</label>
									</div>
									<div class="col-md-2 hidden">
										<div class="form-group">
											<label class="control-label formlabel">If No, give date of Previous Case Plan Readiness Assessment:</label><br/>
											<input type="text" class="form-control" style="max-width: 200px;" name="date_first_cpara"/>
										</div>
                                    </div>
									<div class="col-md-2">
										<div class="form-group">
											<label class="control-label formlabel">Date of caseplan:</label><br/>
											<input type="text" class="form-control" style="max-width: 200px;" name="CPT_DATE_CASEPLAN"/>
										</div>
                                    </div>
									<div class="col-md-3 div_CPT_ACTUAL_DATE_COMPLETION" id="div_CPT_ACTUAL_DATE_COMPLETION">
										<div class="form-group">
											<label class="control-label formlabel">Actual date of caseplan completion:</label><br/>
											{{form.CPT_ACTUAL_DATE_COMPLETION}}
										</div>
                                    </div>
                                </div>
                            <div style="overflow: inherit !important; overflow-x: auto; min-height: 300px;">
                                <table id="assessment_manager_table" class="table">
                                    <thead>
                                        <tr id="id_inputHeaders1">
                                            <th colspan="1"><h6><b>Domain<span class="asteriskField">* </b></h6></th>
                                            <th colspan="3"><h6><b>Goal<span class="asteriskField">* </b></h6></th>
                                            <th colspan="2"><h6><b>Needs/Gaps<span class="asteriskField">* </b></h6></th>
                                            <th colspan="2"><h6><b>Priority Actions<span class="asteriskField">* </b></h6></th>
                                        </tr>
                                    </thead>
                                    <br>
                                        <tr id="id_inputElements1">

                                             <td colspan="1" class="domain_cell">
                                            	{{ form.CPT_DOMAIN }}
                                            	<div id="olmis_assessment_coreservice_errormsg" style="display:none;" class="col-md-10 control-label">
                                                    <small><p class="dialog_paragraph">This value is required</p></small>
                                                </div>
                                            </td>

                                            <td colspan="3" class="goals_cell" style="min-width: 300px;">
                                                <div class="healthy_form hidden">
                                                 {{ form.CPT_GOAL_HEALTHY }}
                                                </div>
                                                <div class="stable_form hidden">
                                                 {{ form.CPT_GOAL_STABLE }}
                                                </div>
                                                <div class="safe_form hidden">
                                                 {{ form.CPT_GOAL_SAFE }}
                                                </div>
                                                <div class="school_form">
                                                 {{ form.CPT_GOAL_SCHOOL }}
                                                </div>
                                            	<div id="olmis_assessment_coreservice_errormsg" style="display:none;">
                                                    <small><p class="dialog_paragraph">This value is required</p></small>
                                                </div>
                                            </td>

                                            <td colspan="2" class="gaps_cell">
                                            	<div class="healthy_form hidden">
                                                 {{ form.CPT_GAPS_HEALTHY }}
                                                </div>
                                                <div class="stable_form hidden">
                                                 {{ form.CPT_GAPS_STABLE }}
                                                </div>
                                                <div class="safe_form hidden">
                                                 {{ form.CPT_GAPS_SAFE }}
                                                </div>
                                                <div class="school_form">
                                                 {{ form.CPT_GAPS_SCHOOL }}
                                                </div>
                                            	<div id="olmis_assessment_coreservice_status_errormsg" style="display:none;">
                                                    <small><p class="dialog_paragraph">This value is required</p></small>
                                                </div>
                                            </td>

                                             <td colspan="2" class="actions_cell">
                                            	<div class="healthy_form hidden">
                                                 {{ form.CPT_ACTIONS_HEALTHY }}
                                                </div>
                                                <div class="stable_form hidden">
                                                 {{ form.CPT_ACTIONS_STABLE }}
                                                </div>
                                                <div class="safe_form hidden">
                                                 {{ form.CPT_ACTIONS_SAFE }}
                                                </div>
                                                <div class="school_form">
                                                 {{ form.CPT_ACTIONS_SCHOOL }}
                                                </div>
                                            	<div id="olmis_assessment_coreservice_status_errormsg" style="display:none;">
                                                    <small><p class="dialog_paragraph">This value is required</p></small>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th colspan="2"><h6><b>Services<span class="asteriskField">* </b></h6></th>
                                            <th colspan="2"><h6><b>Person Responsible<span class="asteriskField">* </b></h6></th>
                                            <th colspan="1"><h6><b>Date to be completed<span class="asteriskField">* </b></h6></th>
                                            <th colspan="1"><h6><b>Results<span class="asteriskField">* </b></h6></th>
                                            <th colspan="2"><h6><b>Reasons<span class="asteriskField">* </b></h6></th>
                                            <th colspan="1"></th>
                                        </tr>

                                        <tr>
                                            <td colspan="2" class="services_cell">
                                            	<div class="healthy_form hidden">
                                                 {{ form.CPT_SERVICES_HEALTHY }}
                                                </div>
                                                <div class="stable_form hidden">
                                                 {{ form.CPT_SERVICES_STABLE }}
                                                </div>
                                                <div class="safe_form hidden">
                                                 {{ form.CPT_SERVICES_SAFE }}
                                                </div>
                                                <div class="school_form">
                                                 {{ form.CPT_SERVICES_SCHOOL }}
                                                </div>
                                            	<div id="olmis_assessment_coreservice_status_errormsg" style="display:none;">
                                                    <small><p class="dialog_paragraph">This value is required</p></small>
                                                </div>
                                            </td>

                                            <td colspan="2" class="responsible_cell">
                                            	{{ form.CPT_RESPONSIBLE }}
                                            	<div id="olmis_assessment_coreservice_status_errormsg" style="display:none;">
                                                    <small><p class="dialog_paragraph">This value is required</p></small>
                                                </div>
                                            </td>

                                            <td colspan="1">
                                            	{{ form.CPT_DATE }}
                                            	<div id="olmis_assessment_coreservice_status_errormsg" style="display:none;">
                                                    <small><p class="dialog_paragraph">This value is required</p></small>
                                                </div>
                                            </td>
                                                
                                            <td colspan="1">
                                            	{{ form.CPT_RESULTS }}
                                            	<div id="olmis_assessment_coreservice_status_errormsg" style="display:none;">
                                                    <small><p class="dialog_paragraph">This value is required</p></small>
                                                </div>
                                            </td>

                                            <td colspan="2">
                                                <div style="max-width: 290px; font-size: 0.95em;">
                                                    {{ form.CPT_REASONS }}
                                                </div>
                                                <div id="olmis_assessment_coreservice_status_errormsg" style="display:none;">
                                                    <small><p class="dialog_paragraph">This value is required</p></small>
                                                </div>
                                            </td>
                                        </tr>
                                            <td></td>
                                            <td></td>
                                            <td colspan="1">
                                                <button type="button" class="btn btn-sm btn-inverse btn-block" onClick="AddRow()">
	                                                <i class="fa fa-plus"></i>  Add
	                                            </button>
                                            </td>
                                            <td></td>
                                        <tr>
                                        </tr>
                                    </tbody>

                                </table>
                                <!-- end col-6 -->
                            </div>   
							</fieldset>
{#                            Submissions #}
                    
                            <div class="table-responsive">
                                <table class="table table-condensed slimtable" id="submissions_table">
                                    <thead>
                                        <tr>
                                            <th>Domain</th>
                                            <th>Goal</th>
                                            <th>Needs/Gaps</th>
                                            <th>Priority Actions</th>
                                            <th>Services</th>
                                            <th>Responsible</th>
                                            <th>Completed</th>
                                            <th>Results</th>
                                            <th>Reasons</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-body panel-form">
                                <div class="form-group">

                                    <div class="col-md-2 col-sm-2">
                                        <div>

                                        </div>



                                    </div>
                                </div>
                            </div>

                            <div class="panel-body panel-form">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4"></label>
                                    <div class="col-md-6 col-sm-6">
                                        <button class="btn btn-primary" type="button" onclick="submitCPT()">Submit Assessment</button>
                                        <!-- <button id="submit-caseplan" class="btn btn-primary">Submit Assessment</button> -->
                                        <a href="#" onclick="cancelBtn()" class="btn btn-white">Cancel</a>
                                    </div>
                                </div>
                            </div>
						</div>
						<!-- end wizard step-1 -->








                    </div>
                <form class="hidden" action="." method="POST" data-parsley-validate="true" name="form-wizard-f1a" id="new_f1a">
                    {% csrf_token %}
                    <input type="hidden" name="final_submission"/>
				</form>
            </div>
            <a href="#" class="badge badge-primary m-4"> Back to OVC</a>
            <div class="badge pull-right m-4">Revised: Oct 6th 2016</div>
        </div>
        <!-- end panel -->

    </div>
    <!-- end col-12 -->

</div>
<!-- end row -->

<!-- begin row -->
<div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                </div>                          
                <h4 class="panel-title"><b>Case Plan Template </b></h4>
            </div>

            <div class="panel-body">
                <div  class="panel panel-inverse">
                    <div id="case-events"  class="table-responsive">
                        <table id="past_cpt_table" class="table table-condensed table-bordered table-striped">
                            <thead>
                                <tr>
                                    
                                    <th>#</th>
                                    <th>Domain</th>
                                    <th>Goal</th>
                                    <th>Needs/Gaps</th>
                                    <th>Priority Actions</th>
                                    <th>Services</th>
                                    <th>Person Responsible</th>
                                    <th>Date Completed</th>
                                    <th>Results</th>
                                    <th>Reasons</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for one_cpt_event in caseplan_events %}
                                    {% if one_cpt_event %}
                                        <tr>
                                            <td rowspan="4" style="text-align: center;vertical-align: middle;" width="40px" valign="center">{{forloop.counter}}</td>
                                            <td style="text-align: center;vertical-align: middle;"><b>HEALTHY</b></td>
                                            <td>
                                                {% for one_healthy in one_cpt_event.event_healthy %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_healthy.ev_goal}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_healthy in one_cpt_event.event_healthy %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_healthy.ev_need}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_healthy in one_cpt_event.event_healthy %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_healthy.ev_priority}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_healthy in one_cpt_event.event_healthy %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_healthy.ev_services}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_healthy in one_cpt_event.event_healthy %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_healthy.ev_responsible}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_healthy in one_cpt_event.event_healthy %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_healthy.ev_completion_}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_healthy in one_cpt_event.event_healthy %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_healthy.ev_results}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_healthy in one_cpt_event.event_healthy %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_healthy.ev_reasons}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td rowspan="4" style="text-align: center;vertical-align: middle;" width="40px" valign="center">
                                                <a href="{% url 'update_caseplan' event_id=one_cpt_event.event_id ovcid=one_cpt_event.event_ovc %}" class="btn btn-sm btn-primary btn-outline btn-sm">Update</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center;vertical-align: middle;"><b>STABLE</b></td>
                                            <td>
                                                {% for one_stable in one_cpt_event.event_stable %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_stable.ev_goal}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_stable in one_cpt_event.event_stable %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_stable.ev_need}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_stable in one_cpt_event.event_stable %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_stable.ev_priority}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_stable in one_cpt_event.event_stable %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_stable.ev_services}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_stable in one_cpt_event.event_stable %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_stable.ev_responsible}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_stable in one_cpt_event.event_stable %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_stable.ev_completion_date}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_stable in one_cpt_event.event_stable %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_stable.ev_results}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_stable in one_cpt_event.event_stable %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_stable.ev_reasons}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center;vertical-align: middle;"><b>SAFE</b></td>
                                            <td>
                                                {% for one_safe in one_cpt_event.event_safe %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_safe.ev_goal}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_safe in one_cpt_event.event_safe %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_safe.ev_need}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_safe in one_cpt_event.event_safe %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_safe.ev_priority}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_safe in one_cpt_event.event_safe %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_safe.ev_services}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_safe in one_cpt_event.event_safe %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_safe.ev_responsible}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_safe in one_cpt_event.event_safe %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_safe.ev_completion_date}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_safe in one_cpt_event.event_safe %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_safe.ev_results}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_safe in one_cpt_event.event_safe %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_safe.ev_reasons}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr style="border-bottom: 5px solid #aaa;">
                                            <td style="text-align: center;vertical-align: middle;"><b>SCHOOLED</b></td>
                                            <td>
                                                {% for one_school in one_cpt_event.event_school %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_school.ev_goal}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_school in one_cpt_event.event_school %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_school.ev_need}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_school in one_cpt_event.event_school %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_school.ev_priority}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_school in one_cpt_event.event_school %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_school.ev_services}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_school in one_cpt_event.event_school %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_school.ev_responsible}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_school in one_cpt_event.event_school %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_school.ev_completion_date}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_school in one_cpt_event.event_school %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_school.ev_results}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_school in one_cpt_event.event_school %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_school.ev_reasons}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                            </tbody>
                        </table>





                        <table class="table hidden">
                            <thead>
                                <tr>
                                    <td>Event ID</td>
                                    <td>Event Date</td>
                                    <td># Services</td>
                                    <td>Actions</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for one_cpt_event in caseplan_events %}
                                    {% if one_cpt_event %}
                                        <tr>
                                            <td><b>{{one_cpt_event.event_id}}</b></td>
                                            <td>{{one_cpt_event.event_date}}</td>
                                            <td>{{one_cpt_event.event_services_count}}</td>
                                            <td><a href="{% url 'update_caseplan' event_id=one_cpt_event.event_id ovcid=one_cpt_event.event_ovc %}" class="btn btn-sm btn-primary btn-outline">Update</a></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <br><br>                           
                </div>
            </div>

        </div>
        <!-- end panel -->
    </div>
    <!-- end col-12 -->
</div>
<!-- end row -->


{% endblock %}

{% block lazy_javascript_code %}
<script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>	
<script src="{% static 'plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'js/apps.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>
<script src="{% static 'js/tag-it.js' %}"></script>
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table-locale-all.min.js' %}"></script>
<script src="{% static 'js/cpt-script.js' %}"></script>	

<script>
	
	$('input[name=if_first_cpara],input[name=date_first_cpara]').removeAttr('required');
    $('input[name=date_first_cpara]').attr('disabled', true);
	$('input[name=if_first_cpara]').change(function(){
		var valu = $(this).val();
		if(valu === 'AYES'){
			$('input[name=date_first_cpara]').val('');
			$('input[name=date_first_cpara]').attr('disabled', true);
		}else if(valu === 'ANNO'){
			$('input[name=date_first_cpara]').val('');
			$('input[name=date_first_cpara]').removeAttr('disabled');
		}
	});
    $(document).ready(function () {
        $('#CPT_ACTUAL_DATE_COMPLETION').removeAttr('required');
    });
    $('*[name=CPT_RESULTS]').prepend('<option selected value="">Pick an item</option>').attr('required', true)
	
    ///////
    $('#div_CPT_ACTUAL_DATE_COMPLETION').addClass('hidden');
    $('#CPT_ACTUAL_DATE_COMPLETION').val('1900-01-01');
    $('*[name=CPT_RESULTS]').change(function(){
        var thisval=$('*[name=CPT_RESULTS] option:selected').val();
        if(thisval=='NA'){
            $('#div_CPT_ACTUAL_DATE_COMPLETION').removeClass('hidden');
        }else{
            $('#div_CPT_ACTUAL_DATE_COMPLETION').addClass('hidden');
        }
    })
</script>
{% endblock %}
	