<div id="content" class="content">
    <ol class="breadcrumb pull-right">
        <li><a href="#" class="btn_ovc_home_offline">Home</a></li>
        <li><a href="#" class="btn_ovc_view_offline">View Ovc</a></li>
        <li class="active">Form 1A</li>
    </ol>
    <h1 class="page-header"><i class="fa fa-child"></i> OVC Care <small>Form 1A</small></h1>

    <div class="row">
        <div class="row">
            <!-- begin col-12 -->
            <div class="col-md-12">
                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <h4 class="panel-title">Form 1A</h4>
                    </div>

                    <div class="panel-body">
                        Form 1A content
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
