{% extends 'base.html' %}
{% load app_filters %}
{% load staticfiles %}
{% block page_title %} HIV STATUS {% endblock %}
{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery.tagit.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet" />
<style type="text/css">
.dialog_paragraph {
  color: #f00;
}

.table_data {
  display: none;
}

.container {
    width: 100%;
    overflow-x: auto;
}

.td_style {
  /* color: #000000;*/
  color: #0057e7;
}
</style>
{% endblock %}

{% block javascript_code%}
{% endblock javascript_code%}

{% block primary %}

<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li><a href="#">Home</a></li>
	<li class="active">Forms</li>
</ol>
<!-- end breadcrumb -->

<!-- begin page-header -->
<!-- {% for data in init_data %} -->

	<h1 class="page-header">Forms <small>HIV STATUS <b> {{care_giver}}
                    </b></small></h1>

<!-- {% endfor %} -->
<!-- end page-header -->

<!-- #csi-warning-dialog -->
<div class="modal fade" id="csi-warning-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h4 class="modal-title">
                <div id="closure-warning-dialog-header">
                    Warning      
                </div>
                </h4>
            </div>
            <div class="modal-body">
                <div>
                    <h4><i class="fa fa-info-circle"></i> <small><b><span id="span_csi_alert" class="dialog_paragraph"></span></b></small></h4>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
<!-- #end-csi-warning-dialog -->

<div id="error_message" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <!--<span class="close" data-dismiss="alert">×</span>-->
    <button type="button" class="close" data-hide="alert">&times;</button>
    <i class="fa fa-info fa-2x pull-left"></i>
    <span class="invalid-form-message" id="invalid-form-message"></span>
</div>

<div id="success_message" class="alert alert-success fade in" style="display: none;">
    <!--<span class="close" data-dismiss="alert">×</span>-->
    <button type="button" class="close" data-hide="alert">&times;</button>
    <i class="fa fa-check fa-2x pull-left"></i>
    <p></p>
</div>


{% if err_msgg  %}

<div class="alert alert-danger" id="error-message-reuse">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  {{ err_msgg }}
</div>

{% endif %}

<!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#delete-form1a-entry">Open Modal</button>-->

  <!--Confirm form1a delete Modal -->

  <div class="modal fade" id="delete-form1a-entry" style="margin-left: auto; margin-right: auto; width: 50%;" role="dialog">
    <div class="modal-dialog modal-sm">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delete Entry</h4>
        </div>
        <div class="modal-body">
          <p style="color: #ff0000; font-size: 16px;">Delete selected entry?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-default" onclick="deleteForm1aEntry()" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default btn-primary" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
  </div>

<!-- begin row -->
<div id='case_details' class="row">

	<!-- begin col-12 -->
    <div class="col-md-12">
    	<!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-expand"><i class="fa fa-minus"></i></a>
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title"> HIV STATUS </h4>
            </div>
            <div class="panel-body">
                <div id="form1_info">
                    <form method="post">
                        {% csrf_token %}

                        {{form.as_p}}
                        <button type="submit">submit</button>

                    </form>
                </div>


            </div>
            <a href="#" class="badge badge-primary m-4"> Back to OVC</a>
            <div class="badge pull-right m-4">Revised: Oct 6th 2016</div>
        </div>
        <!-- end panel -->

    </div>
    <!-- end col-12 -->

</div>
<!-- end row -->

<!-- begin row -->



{% endblock %}

{% block lazy_javascript_code %}
<script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>	
<script src="{% static 'plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'js/apps.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>
<script src="{% static 'js/tag-it.js' %}"></script>
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table-locale-all.min.js' %}"></script>
<script src="{% static 'js/cpt-script.js' %}"></script>	

<script>

$('#date_of_event').datepicker({
    format: 'yyyy-mm-dd',
});
</script>
{% endblock %}
