{% extends 'base.html' %}
{% load app_filters %}
{% load staticfiles %}
{% block page_title %} Household Vulnerability Assessment {% endblock %}
{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery.tagit.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet" />
<style type="text/css">
.dialog_paragraph {
  color: #f00;
}

.table_data {
  display: none;
}

.container {
    width: 100%;
    overflow-x: auto;
}

.td_style {
  /*color: #000000;*/
  color: #0057e7;
}
</style>
{% endblock %}

{% block javascript_code%}
{% endblock javascript_code%}

{% block primary %}

<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li><a href="#">Home</a></li>
	<li class="active">Forms</li>
</ol>
<!-- end breadcrumb -->

<!-- begin page-header -->

{% for data in init_data %}

	<h1 class="page-header">Forms <small>New Household Vulnerability Assessment  <b>{{ data.first_name }} {{ data.surname }} | {{ data.sex_id|gen_value:vals }} | {% if data.date_of_birth|gen_age == 0 %}
                            UNDER 1 YEAR
                        {% else %}
                            {{ data.date_of_birth|gen_age }} YRS 
                        {% endif %}</b></small></h1>

{% endfor %}
<!-- end page-header -->

<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-info fa-2x pull-left"></i>
    <span class="invalid-form-message" id="invalid-form-message"></span>
</div>

<!-- begin row -->
<div id='case_details' class="row">
	<!-- begin col-12 -->
    <div class="col-md-12">
    	<!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-expand"><i class="fa fa-minus"></i></a>
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title"> Household Vulnerability Assessment </h4>
            </div>
            <div class="panel-body">
            	<form class="form-horizontal form-bordered" action="." method="POST" data-parsley-validate="true"
                name="form-wizard-hhva" id="new_hhva">
                	{% csrf_token %}
					<div id="wizard-hhva">
						<ol>
							<li>
							    Household Individuals
							    <small>Household individuals details</small>
							</li>
							<li>
							    Water Sanitation and Hygiene 
							    <small>WASH details</small>
							</li>
							<li>
							    Shelter and Care 
							    <small>Shelter and care details</small>
							</li>
							<li>
							    Food Security and Nutrition 
							    <small>Food security and nutrition details</small>
							</li>
							<li>
							    Household Income and Property 
							    <small>Household income and property details</small>
							</li>
							<li>
							    Health Services and Health Seeking Behaviours 
							    <small>Health services/seeking details.</small>
							</li>
							<li>
							    Protection
							    <small>Protection details.</small>
							</li>
							<li>
							    Other Services
							    <small>Other service details.</small>
							</li>
							<li>
							    Household Priorities 
							    <small>Household details.</small>
							</li>
						</ol>

						{{ form.person }}
						{{ form.household_id }}

						<!-- begin wizard step-1 -->
						<div class="wizard-step-1">
							<div class="panel-body">

								<div class="form-group">
									<label class="control-label col-md-4 col-sm-4" for="hhva_qs">Household Member(s) : </label>
									<div class="col-md-4 col-sm-4">
										{% if guardians or siblings or osiblings or oguardians %}
							            <table class="table table-condensed">
							                <thead>
							                    <tr>
							                        <th>Name</th>
							                        <th>Relation</th>
							                        <!--<th>Age</th>-->
							                    </tr>
							                </thead>
							                <tbody>
							                    {% for guardian in guardians %}
							                    <tr>
							                        <td><a href="{% url 'view_person' id=guardian.guardian_person.id %}">{{ guardian.guardian_person.full_name }}</a></td>
							                        <td>{{ guardian.relationship|gen_value:vals }}</td>
							                        <!-- <td>{{ guardian.guardian_person.age }}</td> -->
							                    </tr>
							                    {% endfor %}
							                    {% for oguardian in oguardians %}
							                    <tr>
							                        <td><a href="{% url 'view_person' id=oguardian.child_person.id %}">{{ oguardian.child_person.full_name }}</a></td>
							                        <td>
							                        {% if oguardian.child_person.sex_id == 'SFEM' %}
							                        Daughter
							                        {% else %}
							                        Son
							                        {% endif %}
							                        </td>
							                        <!-- <td>{{ oguardian.child_person.age }}</td> -->
							                    </tr>
							                    {% endfor %}
							                    {% for sibling in siblings %}
							                    <tr>
							                        <td><a href="{% url 'view_person' id=sibling.sibling_person.id %}">{{ sibling.sibling_person.full_name }}</a></td>
							                        <td>
							                        {% if sibling.sibling_person.sex_id == 'SFEM' %}
							                        Sister
							                        {% else %}
							                        Brother
							                        {% endif %}
							                        </td>
							                        <!-- <td>{{ sibling.sibling_person.age }}</td> -->
							                    </tr>
							                    {% endfor %}
							                    {% for osibling in osiblings %}
							                    <tr>
							                        <td><a href="{% url 'view_person' id=osibling.child_person.id %}">{{ osibling.child_person.full_name }}</a></td>
							                        <td>
							                        {% if osibling.child_person.sex_id == 'SFEM' %}
							                        Sister
							                        {% else %}
							                        Brother
							                        {% endif %}
							                        </td>
							                        <!-- <td>{{ osibling.child_person.age }}</td> -->
							                    </tr>
							                    {% endfor %}
							                </tbody>
							            </table>
							            {% else %}
							                <br>
							                <p>&nbsp;No relative details provided for this person.</p>  
							            {% endif %}
							        </div>
							    </div>

							    <!-- add labels like HA1, HA2 .. -->
							    
								<div class="form-group">
									<label class="control-label col-md-4 col-sm-4" for="hhva_qs"><b>HA1: </b>Number of individuals in the house below 18 years : <span class="asteriskField">* </label>
									<div class="col-md-2 col-sm-2">
										{{ form.hhva_ha1_male }}
									</div>
									<div class="col-md-2 col-sm-2">
										{{ form.hhva_ha1_female }}
									</div>
									<a href="#" data-toggle="tooltip" title="Number of individuals in the house below 18 years"><i class="fa fa-info-circle fa-sm"></i></a>
								</div>

								<div class="form-group">
									<label class="control-label col-md-4 col-sm-4" for="hhva_qs"><b>HA2: </b>Number of individuals in the house above 18 years : <span class="asteriskField">* </label>
									<div class="col-md-2 col-sm-2">
										{{ form.hhva_ha2_male }}
									</div>
									<div class="col-md-2 col-sm-2">
										{{ form.hhva_ha2_female }}
									</div>
									<a href="#" data-toggle="tooltip" title="Number of individuals in the house above 18 years"><i class="fa fa-info-circle fa-sm"></i></a>
								</div>

								<div class="form-group">
									<label class="control-label col-md-4 col-sm-4" for="hhva_qs"><b>HA3: </b>Number of disabled individuals in the house below 18 years : <span class="asteriskField">* </label>
									<div class="col-md-2 col-sm-2">
										{{ form.hhva_ha3_male }}
									</div>
									<div class="col-md-2 col-sm-2">
										{{ form.hhva_ha3_female }}
									</div>
									<a href="#" data-toggle="tooltip" title="Number of disabled individuals in the house below 18 years"><i class="fa fa-info-circle fa-sm"></i></a>
								</div>

								<div class="form-group">
									<label class="control-label col-md-4 col-sm-4" for="hhva_qs"><b>HA4: </b>Number of disabled individuals in the house above 18 years : <span class="asteriskField">* </label>
									<div class="col-md-2 col-sm-2">
										{{ form.hhva_ha4_male }}
									</div>
									<div class="col-md-2 col-sm-2">
										{{ form.hhva_ha4_female }}
									</div>
									<a href="#" data-toggle="tooltip" title="Number of disabled individuals in the house above 18 years"><i class="fa fa-info-circle fa-sm"></i></a>
								</div>

							</div>                            
						</div>
						<!-- end wizard step-1 -->  

						<!-- begin wizard step-2 -->
						<div class="wizard-step-2">
							<div class="panel-body">

								<div class="form-group">
									<label class="control-label col-md-4 col-sm-4" for="hhva_qs"><b>HA5: </b>Household main source of water : <span class="asteriskField">* </label>
									<div class="col-md-4 col-sm-4">
										{{ form.hhva_ha5 }}
									</div>
									<a href="#" data-toggle="tooltip" title="Household main source of water"><i class="fa fa-info-circle fa-sm"></i></a>
								</div>

								<div class="form-group">
									<label class="control-label col-md-4 col-sm-4" for="hhva_qs"><b>HA6: </b>How do you make your drinking water safe? : <span class="asteriskField">* </label>
									<div class="col-md-4 col-sm-4">
										{{ form.hhva_ha6 }}
										<br>
										<h6><span id="sel_hhva_ha6"></span></h6>
									</div>
									<a href="#" data-toggle="tooltip" title="How you make your drinking water safe"><i class="fa fa-info-circle fa-sm"></i></a>
								</div>

								<div class="form-group">
									<label class="control-label col-md-4 col-sm-4" for="hhva_qs"><b>HA7: </b>What is the main mode of human waste disposal? : <span class="asteriskField">* </label>
									<div class="col-md-4 col-sm-4">
										{{ form.hhva_ha7 }}
									</div>
									<a href="#" data-toggle="tooltip" title="Human waste disposal mode"><i class="fa fa-info-circle fa-sm"></i></a>
								</div>

								<div class="form-group">
									<label class="control-label col-md-4 col-sm-4" for="hhva_qs"><b>HA8: </b>Household using utensil rack : <span class="asteriskField">* </label>
									<div class="col-md-4 col-sm-4">
										{{ form.hhva_ha8 }}
									</div>
									<a href="#" data-toggle="tooltip" title="Household using utensil rack"><i class="fa fa-info-circle fa-sm"></i></a>
								</div>

							</div> 							
						</div> 
						<!-- end wizard step-2 -->

						<!-- begin wizard step-3 -->
						<div class="wizard-step-3">
							<div class="panel-body"> 

								<div class="form-group">
									<label class="control-label col-md-4 col-sm-4" for="hhva_qs"><b>HA9: </b>Condition of house : <span class="asteriskField">* </label>
									<div class="col-md-4 col-sm-4">
										{{ form.hhva_ha9 }}
									</div>
									<a href="#" data-toggle="tooltip" title="Condition of house"><i class="fa fa-info-circle fa-sm"></i></a>
								</div>

								<br>
								<label class="control-label col-md-4 col-sm-4" for="hhva_qs"><b>HA10: </b>Type and number of bedding used by household members : <span class="asteriskField">* </label>

								<div class="form-group">
									<table id="ha10_manager_table" class="table">
	                                    <thead>
	                                        <tr id="id_inputHeaders">
	                                        	<td width="2%"></td>
	                                        	<th width="3%"><h6><b>Type</b></h6></th>
	                                        	<th width="2%"><h6><b>Number</b></h6></th>
	                                            <th width="3%"><h6><b>Condition</b></h6></th>
	                                            <th width="5%"><h6><b>Actions</b></h6></th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>
	                                    	<tr id="id_inputElements14">
	                                    		<td></td>
	                                            <td width="3%">
	                                            	{{ form.hhva_ha10_type }}
	                                            	<div id="hhva_ha10_type_errormsg" style="display:none;">
	                                                    <small><p class="dialog_paragraph">This value is required</p></span></small><span>
	                                                </div>
	                                            </td>

	                                            <td width="2%">
	                                            	{{ form.hhva_ha10_number }}
	                                            	<div id="hhva_ha10_number_errormsg_" style="display:none;">
	                                                    <small><p class="dialog_paragraph">This value must be digits</p></span></small><span>
	                                                </div>
	                                            	<div id="hhva_ha10_number_errormsg" style="display:none;">
	                                                    <small><p class="dialog_paragraph">This value is required</p></span></small><span>
	                                                </div>
	                                            </td>

	                                            <td width="3%">
	                                            	{{ form.hhva_ha10_condition }}
	                                            	<div id="hhva_ha10_condition_errormsg" style="display:none;">
	                                                    <small><p class="dialog_paragraph">This value is required</p></span></small><span>
	                                                </div>
	                                            </td>

	                                            <td width="5%">
	                                            	<h6><b>
			                                            <button type="button" class="btn btn-sm btn-inverse m-r-5" onClick="AddRow(1)">
			                                                <i class="fa fa-plus"></i>  Add
			                                            </button>
	                                            	</b></h6>
	                                            </td>
                                        </tr>  
	                                    </tbody>
                                    </table>                                    	
                                    {{ form.hhva_wash_list }}
								</div>
							</div>
						</div> 
						<!-- end wizard step-3 -->  

						<!-- begin wizard step-4 -->
						<div class="wizard-step-4">
							<div class="panel-body"> 

								<div class="form-group">
									<label class="control-label col-md-5 col-sm-5" for="hhva_qs"><b>HA11: </b>On average, how many meals do household members eat in a day? : <span class="asteriskField">* </label>
									<div class="col-md-4 col-sm-4">
										{{ form.hhva_ha11 }}
									</div>
									<a href="#" data-toggle="tooltip" title="Number of meals per day per household member"><i class="fa fa-info-circle fa-sm"></i></a>
								</div>

								<div class="form-group">
									<label class="control-label col-md-5 col-sm-5" for="hhva_qs"><b>HA12: </b>What is the main source of food for the household? : <span class="asteriskField">* </label>
									<div class="col-md-4 col-sm-4">
										{{ form.hhva_ha12 }}
									</div>
									<a href="#" data-toggle="tooltip" title="Main source of food for the household"><i class="fa fa-info-circle fa-sm"></i></a>									
								</div>
							</div>
						</div> 
						<!-- end wizard step-4 --> 

						<!-- begin wizard step-5 -->
						<div class="wizard-step-5">
							<div class="panel-body">
								<div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group block1">
                                            <label for="hhva_ha13"><b>HA13: </b>What is the household main source of income? <span class="asteriskField">*</span></label>
                                            {{ form.hhva_ha13 }}
                                        </div>
                                    </div>

                                    <div class="col-md-5">
                                        <div class="form-group block1">
                                            <label for="hhva_ha14"><b>HA14: </b>Who owns the house where members stay? <span class="asteriskField">*</span></label>
                                            {{ form.hhva_ha14 }}
                                        </div>
                                    </div>
                                </div>

                                <div class="divider pull-left width-full"></div>
                                <div class="divider pull-left width-full"></div>

                                <div class="row">
                                	<div class="col-md-8">
                                        <div class="form-group">
                                            <label for="surname"><b>HA15: </b>What asset does the household own? <span class="asteriskField">*</span></label>
                                        </div>
                                    </div>
                                    <table id="ha15_manager_table" class="table">
                                        <thead>
                                            <tr id="id_inputHeaders">
                                                <td width="2%"></td>
                                                <th width="4%"><h6><b>Asset</b></h6></th>
                                                <th width="2%"><h6><b>Number</b></h6></th>
                                                <th width="2%"><h6><b>Size</b></h6></th>
                                                <th width="4%"><h6><b>Actions</b></h6></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="id_inputElements14">
                                                <td width="2%"></td>
                                                <td width="4%">
                                                    {{ form.hhva_ha15_asset }}
                                                    <div id="hhva_ha15_type_errormsg" style="display:none;">
                                                        <small><p class="dialog_paragraph">This value is required</p></span></small><span>
                                                    </div>
                                                </td>

                                                <td width="2%">
                                                    {{ form.hhva_ha15_number }}
                                                    <div id="hhva_ha15_number_errormsg_" style="display:none;">
                                                        <small><p class="dialog_paragraph">This value is must be digits</p></span></small><span>
                                                    </div>

                                                    <div id="hhva_ha15_number_errormsg" style="display:none;">
                                                        <small><p class="dialog_paragraph">This value is required</p></span></small><span>
                                                    </div>
                                                </td>

                                                <td width="2%">
                                                    {{ form.hhva_ha15_size }}
                                                    <div id="hhva_ha15_size_errormsg_" style="display:none;">
                                                        <small><p class="dialog_paragraph">This value is must be digits</p></span></small><span>
                                                    </div>

                                                    <div id="hhva_ha15_size_errormsg" style="display:none;">
                                                        <small><p class="dialog_paragraph">This value is required</p></span></small><span>
                                                    </div>
                                                </td>

                                                <td width="4%">
                                                    <h6><b>
                                                        <button type="button" class="btn btn-sm btn-inverse m-r-5" onClick="AddRow(2)">
                                                            <i class="fa fa-plus"></i>  Add
                                                        </button>
                                                    </b></h6>
                                                </td>
                                        </tr>  
                                        </tbody>
                                    </table>
                                    {{ form.hhva_asset_list }}
                                </div>

                                <div class="divider pull-left width-full"></div>

                                <div class="row">
                                	<div class="col-md-5">
                                        <div class="form-group block1">
                                            <label for="hhva_ha16"><b>HA16: </b>What is the household's main source of cooking fuel? <span class="asteriskField">*</span></label>
                                            {{ form.hhva_ha16 }}
                                        </div>
                                    </div>

                                    <div class="col-md-5">
                                        <div class="form-group block1">
                                            <label for="hhva_ha17"><b>HA17: </b>What is the average monthly income before purchase? <span class="asteriskField">*</span></label>
                                            {{ form.hhva_ha17 }}
                                        </div>
                                    </div>
                                </div>

                                <div class="divider pull-left width-full"></div>

                                <div class="row">
                                	<div class="col-md-5">
                                        <div class="form-group block1">
                                            <label for="hhva_ha18"><b>HA18: </b>What is the average monthly income after purchase? <span class="asteriskField">*</span></label>
                                            {{ form.hhva_ha18 }}
                                        </div>
                                    </div>

                                    <div class="col-md-5">
                                        <div class="form-group block1">
                                            <label for="hhva_ha19"><b>HA19: </b>Which of the following take up most of the household income? <span class="asteriskField">*</span></label>
                                            {{ form.hhva_ha19 }}
                                        </div>
                                    </div>
                                </div>

                                <div class="divider pull-left width-full"></div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group block1">
                                            <label for="hhva_ha20"><b>HA20: </b>Is any member of the household in any savings group? <span class="asteriskField">*</span></label>
                                            {{ form.hhva_ha20 }}
                                        </div>
                                    </div>

                                    <div class="col-md-5">
                                        <div>
                                            <label for="hhva_ha21"><b>HA21: </b>Which of the following documents does the household posses? <span class="asteriskField">*</span></label>
                                            {{ form.hhva_ha21 }}
                                            <h6><span id="sel_hhva_ha21"></span></h6>
                                        </div>
                                    </div>
                                </div>

							</div>
						</div> 
						<!-- end wizard step-5 --> 

						<!-- begin wizard step-6 -->
						<div class="wizard-step-6">
							<div class="panel-body"> 

								<div class="form-group">
									<label class="control-label col-md-4 col-sm-4" for="hhva_qs"><b>HA22: </b>Where household members access health services when sick? : <span class="asteriskField">* </label>
									<div class="col-md-4 col-sm-4">
										{{ form.hhva_ha22 }}
										<h6><span id="sel_hhva_ha22"></span></h6>
									</div>
									<a href="#" data-toggle="tooltip" title="Where household members access health services"><i class="fa fa-info-circle fa-sm"></i></a>
								</div>

								<div class="form-group">
									<label class="control-label col-md-4 col-sm-4" for="hhva_qs"><b>HA23: </b>How far is the nearest health facility? : <span class="asteriskField">* </label>
									<div class="col-md-4 col-sm-4">
										{{ form.hhva_ha23 }}
									</div>
									<a href="#" data-toggle="tooltip" title="Distance to the nearest health facility"><i class="fa fa-info-circle fa-sm"></i></a>							
								</div>

								<div class="form-group">
									<label class="control-label col-md-4 col-sm-4" for="hhva_qs"><b>HA24: </b>Does the household have health insurance? : <span class="asteriskField">* </label>
									<div class="col-md-4 col-sm-4">
										{{ form.hhva_ha24 }}
									</div>
									<a href="#" data-toggle="tooltip" title="Health insurance for the household"><i class="fa fa-info-circle fa-sm"></i></a>
								</div>

								<div class="form-group">
									<label class="control-label col-md-4 col-sm-4" for="hhva_qs"><b>HA25: </b>Household using mosquito nets? : <span class="asteriskField">* </label>
									<div class="col-md-4 col-sm-4">
										{{ form.hhva_ha25 }}
									</div>
									<a href="#" data-toggle="tooltip" title="Household using mosquito nets"><i class="fa fa-info-circle fa-sm"></i></a>									
								</div>

								<div class="form-group">
				                  <label class="control-label col-md-4 col-sm-4" for="hhva_qs"><b>HA26: </b>Number of known HIV+ individuals in the household below 18 years : <span class="asteriskField">* </label>
				                  <div class="col-md-2 col-sm-2">
				                    {{ form.hhva_ha26_male }}
				                  </div>
				                  <div class="col-md-2 col-sm-2">
				                    {{ form.hhva_ha26_female }}
				                  </div>
				                  <a href="#" data-toggle="tooltip" title="Number of HIV+ individuals in the house below 18 years"><i class="fa fa-info-circle fa-sm"></i></a>
				                </div>

				                <div class="form-group">
				                  <label class="control-label col-md-4 col-sm-4" for="hhva_qs"><b>HA27: </b>Number of known HIV+ individuals in the household above 18 years : <span class="asteriskField">* </label>
				                  <div class="col-md-2 col-sm-2">
				                    {{ form.hhva_ha27_male }}
				                  </div>
				                  <div class="col-md-2 col-sm-2">
				                    {{ form.hhva_ha27_female }}
				                  </div>
				                  <a href="#" data-toggle="tooltip" title="Number of HIV+ individuals in the house above 18 years"><i class="fa fa-info-circle fa-sm"></i></a>
				                </div>
							</div>
						</div> 
						<!-- end wizard step-6 -->  

						<!-- begin wizard step-7 -->
						<div class="wizard-step-7">
							<div class="panel-body"> 
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3" for="hhva_qs"><b>HA28: </b>Where does the household access legal protection services when needed? : <span class="asteriskField">* </label>
									<div class="col-md-4 col-sm-4">
										{{ form.hhva_ha28 }}
										<h6><span id="sel_hhva_ha28"></span></h6>
									</div>
									<a href="#" data-toggle="tooltip" title="Where household access legal protection services when needed"><i class="fa fa-info-circle fa-sm"></i></a>
								</div>
							</div>
						</div> 
						<!-- end wizard step-7 -->

						<!-- begin wizard step-8 -->
						<div class="wizard-step-8">
							<div class="panel-body"> 
								<div class="form-group">
									<label class="control-label col-md-4 col-sm-4" for="hhva_qs"><b>HA29: </b>Is the household access currently receiving support from any of the following? : <span class="asteriskField">* </label>
									<div class="col-md-4 col-sm-4">
										{{ form.hhva_ha29 }}
										<h6><span id="sel_hhva_ha29"></span></h6>
									</div>
									<a href="#" data-toggle="tooltip" title="Support received from who?"><i class="fa fa-info-circle fa-sm"></i></a>
								</div>

								<div class="form-group">
									<label class="control-label col-md-4 col-sm-4" for="hhva_qs"><b>HA30: </b>Select services received : <span class="asteriskField">* </label>
									<div class="col-md-4 col-sm-4">
										{{ form.hhva_ha30 }}
										<h6><span id="sel_hhva_ha30"></span></h6>
									</div>
									<a href="#" data-toggle="tooltip" title="Services received"><i class="fa fa-info-circle fa-sm"></i></a>
								</div>
							</div>
						</div> 
						<!-- end wizard step-8 -->

						<!-- begin wizard step-9 -->
						<div class="wizard-step-9">
							<div class="panel-body"> 
								<div class="form-group">
									<label class="control-label col-md-4 col-sm-4" for="hhva_qs"><b>HA31: </b>Household priorities? : <span class="asteriskField">* </label>
									<div class="col-md-4 col-sm-4">
										{{ form.hhva_ha31 }}
										<h6><span id="sel_hhva_ha31"></span></h6>
									</div>
									<a href="#" data-toggle="tooltip" title="Household priorities"><i class="fa fa-info-circle fa-sm"></i></a>
								</div>
							</div>
						</div> 
						<!-- end wizard step-9 --> 
					</div>

					<div class="form-group">
                        <label class="control-label col-md-4 col-sm-4" for="csi_qs">Date of HHVA : <span class="asteriskField">* </label>
						<div class="col-md-4 col-sm-4">
							{{ form.date_of_hhva }}
						</div> 
                    </div>

					                     

					<div class="panel-body panel-form">
						<div class="form-group">
							<label class="control-label col-md-4 col-sm-4"></label>
							<div class="col-md-6 col-sm-6">
								<button id="mysubmit-hhva" type="submit" class="btn btn-primary">Submit</button>
								<a href="javascript:history.go(-1)" class="btn btn-white">Cancel</a>
							</div>
						</div>
                    </div>

				</form>
            </div>
            <div class="badge pull-right m-4">Revised: Oct 6th 2016</div>
        </div>
        <!-- end panel -->

    </div>
    <!-- end col-12 -->

</div>
<!-- end row -->

{% endblock %}

{% block lazy_javascript_code %}
<script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>	
<script src="{% static 'plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'js/apps.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>
<script src="{% static 'js/tag-it.js' %}"></script>
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table-locale-all.min.js' %}"></script>
<script>
jQuery(document).ready(function() 
{
	//multi selects
    $('#hhva_ha6, #hhva_ha21, #hhva_ha22, #hhva_ha28, #hhva_ha29, #hhva_ha30, #hhva_ha31').multiselect({
        selectAllValue: 'multiselect-all',
        includeSelectAllOption: true,
        enableCaseInsensitiveFiltering: true,
        numberDisplayed: 1,
        maxHeight: 300,
        buttonWidth: '100%',
        buttonClass: 'btn btn-white'
    });

	$('html,body').scrollTop(0);
	FormWizardValidation.init();
});
</script>
<script type="text/javascript">
function AddRow(x)
{
	if(x==1)
	{
		var OlmisWASHData = new Array();
        var type = $("#hhva_ha10_type").val();
        var number = $("#hhva_ha10_number").val();
        var condition = $("#hhva_ha10_condition").val();
        var csrftoken = $.cookie('csrftoken');        
        var values = {  
            'csrfmiddlewaretoken': csrftoken
        };

        // Validation and Ajax
        if(type)
		{
			if(number)
			{
				// Validate ifnumber
				var isnum = /^\d+$/.test(number);
				if(!isnum){
					// $(".alert").show();
			        // $('.invalid-form-message').html('Please use digits only to specify number of bedding.');
			        $('#hhva_ha10_number_errormsg_').css({'display': 'block'})
			        return false;
				}
				$('#hhva_ha10_number_errormsg_').css({'display': 'none'})

				if(condition)
				{					
					// Find a <table> element with id="ha10_manager_table":
                    var table = $('#ha10_manager_table')[0]; 

                    // Create an empty <tr> element with id and add it to the 1st position of the table:
                    var rows_length = table.rows.length;
                    var row = table.insertRow(rows_length);
                    var index = rows_length - 2;
                    row_id = 'rowid0_' + index;
                    row.id = row_id;
                    var btnRemoveSvcId = 'btnRemoveSvc' + index;

                    // Insert new cells (<td> elements) of the "new" <tr> element:
                    var cell0 = row.insertCell(0);
                    var cell1 = row.insertCell(1);
                    var cell2 = row.insertCell(2);
                    var cell3 = row.insertCell(3);
                    var cell4 = row.insertCell(4);

                    var htype= "<input id='htype' type='hidden' value='"+type+"'>"
                    var hnumber = "<input id='hnumber' type='hidden' value='"+number+"'>"
                    var hcondition = "<input id='hcondition' type='hidden' value='"+condition+"'>"
                    var hstatus = "<input id='hstatus' type='hidden' value='new'>"

                    cell0.innerHTML = '<h6 class="td_style">' + hstatus + '</h6>';        
                    cell1.innerHTML = '<h6 class="td_style">' + displayVals(2, "hhva_ha10_type") + htype + '</h6>';
                    cell2.innerHTML = '<h6 class="td_style">' + $('#hhva_ha10_number').val() + hnumber + '</h6>';
                    cell3.innerHTML = '<h6 class="td_style">' + displayVals(2, "hhva_ha10_condition") + hcondition + '</h6>';
                    cell4.innerHTML  = '<h6 class="dialog_paragraph">' + "<a id=" + btnRemoveSvcId + " class='btn btn-sm btn-link m-r-5 href='#'>Remove</a>" + '</h6>';

                    // AddClick Event To Remove Button
                    $("#" + btnRemoveSvcId + "").click(function(e)
                    {
                        RemoveRow(1, '', row_id);
                    });

                    // Reset Input Elements/Error Divs
                    $("#hhva_ha10_type").val('');
                    $("#hhva_ha10_number").val('');
                    $("#hhva_ha10_condition").val('');
                    $(".alert").hide();

                    $('#ha10_manager_table tr').each(function(row, tr)
                    {                            
                        var type = $(tr).find('input[id="htype"]').val();
                        var number = $(tr).find('input[id="hnumber"]').val();
                        var condition = $(tr).find('input[id="hcondition"]').val();

                        OlmisWASHData[row]= {
                            "type" : type,
                            "number" : number,
                            "condition" : condition
                            }                                
                        
                    });
                    
                    OlmisWASHData.shift(); //remove first row(headers stuff)
                    OlmisWASHData.shift(); //remove second row(controls stuff)
                    OlmisWASHData = JSON.stringify(OlmisWASHData); 

                    // Set hhva_wash_list
                    $('#hhva_wash_list').val(OlmisWASHData); 
				}
				else
				{
					$("#hhva_ha10_condition_errormsg").css({ 'display': "block" });
				}

			}
			else
			{
				$("#hhva_ha10_number_errormsg").css({ 'display': "block" });
			}
		}
		else
		{
			$("#hhva_ha10_type_errormsg").css({ 'display': "block" });
		}
	}
	if(x == 2)
	{
		var OlmisAssetData = new Array();
        var asset = $("#hhva_ha15_asset").val();
        var number = $("#hhva_ha15_number").val();
        var size = $("#hhva_ha15_size").val();
        var csrftoken = $.cookie('csrftoken');        
        var values = {  
            'csrfmiddlewaretoken': csrftoken
        };

         // Validation and Ajax
        if(asset)
		{
			if(number)
			{
				// Validate if number
				var isnum = /^\d+$/.test(number);
				if(!isnum){
			        $('#hhva_ha15_number_errormsg_').css({'display': 'block'})
			        return false;
				}
				$('#hhva_ha15_number_errormsg_').css({'display': 'none'})

				if(size)
				{
					// Validate if size
					/**
					var isnum = /^\d+$/.test(size);
					if(!isnum){
				        $('#hhva_ha15_size_errormsg_').css({'display': 'block'})
				        return false;
					}
					$('#hhva_ha15_size_errormsg_').css({'display': 'none'})
					**/

					// Find a <table> element with id="ha15_manager_table":
                    var table = $('#ha15_manager_table')[0]; 

                    // Create an empty <tr> element with id and add it to the 1st position of the table:
                    var rows_length = table.rows.length;
                    var row = table.insertRow(rows_length);
                    var index = rows_length - 2;
                    row_id = 'rowid1_' + index;
                    row.id = row_id;
                    var btnRemoveSvcId = 'btnRemoveSvc' + index;

                    // Insert new cells (<td> elements) of the "new" <tr> element:
                    var cell0 = row.insertCell(0);
                    var cell1 = row.insertCell(1);
                    var cell2 = row.insertCell(2);
                    var cell3 = row.insertCell(3);
                    var cell4 = row.insertCell(4);

                    var hasset= "<input id='hasset' type='hidden' value='"+asset+"'>"
                    var hnumber = "<input id='hnumber' type='hidden' value='"+number+"'>"
                    var hsize = "<input id='hsize' type='hidden' value='"+size+"'>"
                    var hstatus = "<input id='hstatus' type='hidden' value='new'>"

                    cell0.innerHTML = '<h6 class="td_style">' + hstatus + '</h6>';        
                    cell1.innerHTML = '<h6 class="td_style">' + displayVals(2, "hhva_ha15_asset") + hasset + '</h6>';
                    cell2.innerHTML = '<h6 class="td_style">' + $('#hhva_ha15_number').val() + hnumber + '</h6>';
                    cell3.innerHTML = '<h6 class="td_style">' + $('#hhva_ha15_size').val() + hsize + '</h6>';
                    cell4.innerHTML  = '<h6 class="dialog_paragraph">' + "<a id=" + btnRemoveSvcId + " class='btn btn-sm btn-link m-r-5 href='#'>Remove</a>" + '</h6>';

                    // AddClick Event To Remove Button
                    $("#" + btnRemoveSvcId + "").click(function(e)
                    {
                        RemoveRow(1, '', row_id);
                    });

                    // Reset Input Elements/Error Divs
                    $("#hhva_ha15_asset").val('');
                    $("#hhva_ha15_number").val('');
                    $("#hhva_ha15_size").val('');
                    $(".alert").hide();

                    $('#ha15_manager_table tr').each(function(row, tr)
                    {                            
                        var asset = $(tr).find('input[id="hasset"]').val();
                        var number = $(tr).find('input[id="hnumber"]').val();
                        var size = $(tr).find('input[id="hsize"]').val();

                        OlmisAssetData[row]= {
                            "asset" : asset,
                            "number" : number,
                            "size" : size
                            }                                
                        
                    });
                    
                    OlmisAssetData.shift(); //remove first row(headers stuff)
                    OlmisAssetData.shift(); //remove second row(controls stuff)
                    OlmisAssetData = JSON.stringify(OlmisAssetData); 

                    // Set hhva_asset_list
                    $('#hhva_asset_list').val(OlmisAssetData); 
				}
				else
				{
					$("#hhva_ha15_size_errormsg").css({ 'display': "block" });
				}
			}
			else
			{
				$("#hhva_ha15_number_errormsg").css({ 'display': "block" });
			}
		}
		else
		{
			$("#hhva_ha15_asset_errormsg").css({ 'display': "block" });
		}
	}
}

function RemoveRow(index, uuid, tr_id)
{
    if(index == 1)
    {
        // Delete Table Row
        $("#" + tr_id).remove();

        var OlmisWASHData = new Array();
        $('#ha10_manager_table tr').each(function(row, tr)
        {                            
            var type = $(tr).find('input[id="htype"]').val();
            var number = $(tr).find('input[id="hnumber"]').val();
            var condition = $(tr).find('input[id="hcondition"]').val();

            OlmisWASHData[row]= {
                "type" : type,
                "number" : number,
                "condition" : condition
                }                                
            
        });
        
        OlmisWASHData.shift(); //remove first row(headers stuff)
        OlmisWASHData.shift(); //remove second row(controls stuff)
        OlmisWASHData = JSON.stringify(OlmisWASHData); 

        // Set hhva_wash_list
        $('#hhva_wash_list').val(OlmisWASHData);
    }
    if(index == 2)
    {
    	// Delete Table Row
        $("#" + tr_id).remove();

        var OlmisAssetData = new Array();
        $('#ha15_manager_table tr').each(function(row, tr)
        {                            
            var asset = $(tr).find('input[id="hasset"]').val();
            var number = $(tr).find('input[id="hnumber"]').val();
            var size = $(tr).find('input[id="hsize"]').val();

            OlmisAssetData[row]= {
                "asset" : asset,
                "number" : number,
                "size" : size
                }                                
            
        });
        
        OlmisAssetData.shift(); //remove first row(headers stuff)
        OlmisAssetData.shift(); //remove second row(controls stuff)
        OlmisAssetData = JSON.stringify(OlmisWASHData); 

        // Set hhva_wash_list
        $('#hhva_asset_list').val(OlmisAssetData);
    }
}

function displayVals(x, value)
{
	var selections = [];
	var hselections = [];
	if(x == 1)
	{
	    $("#" + value + " option:selected").each(function () 
	    {
	       var $this = $(this);
	       if ($this.length)
	       {
	            var selText = $this.text();
	            selections.push(selText);
	       }
	    });
	    $( "#sel_"+value ).html(selections.join( ", " ) );		
	}
	if(x==2)
	{
	    $("#" + value + " option:selected").each(function () 
	    {
	       var $this = $(this);
	       if ($this.length)
	       {
	            var selText = $this.text();
	            selections.push(selText);
	            //console.log(selText);
	       }
	    });
	    
	    return selections.join( ", <br>" );
	}
}

$("#hhva_ha6").change(function(event) 
{
	displayVals(1, 'hhva_ha6');
});

$("#hhva_ha10_type").change(function(event) 
{
	$('#hhva_ha10_type_errormsg').css({'display': 'none'})
});

$("#hhva_ha10_number").keyup(function() 
{
	if($(this).val())   
    {
		$('#hhva_ha10_number_errormsg_').css({'display': 'none'})
		$('#hhva_ha10_number_errormsg').css({'display': 'none'})
    }
});

$("#hhva_ha10_condition").change(function(event) 
{
	$('#hhva_ha10_condition_errormsg').css({'display': 'none'})
});

$("#hhva_ha21").change(function(event) 
{
	displayVals(1, 'hhva_ha21');
});

$("#hhva_ha22").change(function(event) 
{
	displayVals(1, 'hhva_ha22');
});

$("#hhva_ha28").change(function(event) 
{
	displayVals(1, 'hhva_ha28');
});

$("#hhva_ha29").change(function(event) 
{
	displayVals(1, 'hhva_ha29');
});

$("#hhva_ha30").change(function(event) 
{
	displayVals(1, 'hhva_ha30');
});

$("#hhva_ha31").change(function(event) 
{
	displayVals(1, 'hhva_ha31');
});
</script>
{% endblock %}