
{% extends 'base.html' %}
{% block page_title %} {{block.super}} Register {% endblock page_title%}

{% load staticfiles %}

{% load app_filters %}

{% block style_code%}
<!--
<link href="{% static 'plugins/DataTables/css/data-table.css' %}" rel="stylesheet" />
-->
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet" />
{% endblock style_code%}

{% block javascript_code%}
{% endblock javascript_code%}


{% block primary %}
<h1 class="page-header">Persons Registry</h1>

{% if messages %}
<div id="messages" class="alert alert-info fade in">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.info %} class="{{ message.info }}"{% endif %}><b>{{ message }}</b></li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<!--
<script type="text/javascript">
function jsSearch()
{
    {% if "TBVC" in person_type %}
       $('#btn_create_account').hide();
    {% endif %}
    return location.href='/registry/search_persons/';
    
    //console.log()
}
</script>
-->

<!-- begin row -->
<!-- begin row -->
<div class="row">
        <!-- begin col-12 -->
        <div class="col-md-12">
                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>                          
                        <h4 class="panel-title"><b>Search Persons</b></h4>
                    </div>
                    <div class="panel-body">
                    <form class="form-inline" action="{% url 'search_persons' %}" method="POST"  data-parsley-validate="true">
                       {% csrf_token %}
                        <div class="form-group m-r-10">
                            <b>{{ form.person_type }}</b>
                        </div>
                        <div class="form-group m-r-10">
                            <b>{{ form.search_name }}</b>
                        </div>
                        <div class="form-group m-r-10">
                            <b>{{ form.search_criteria }}</b>
                        </div>
                        <div class="checkbox m-r-10">
                            <label>
                                {{ form.person_deceased }} <span><b>Include Deceased</b></span>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary m-r-5"><i class="fa fa-search"></i>&nbsp<b>Search</b></button>
                        <a href="{% url 'new_person' %}">
                           <button type="button" class="btn btn-sm btn-primary m-r-5"><i class="fa fa-plus"></i>&nbsp<b>Register New</b></button>
                        </a>
                    </form>     
                    </div>
                </div>
        </div>
</div>

<div class="row">
        <!-- begin col-12 -->
        <div class="col-md-12">
                <!-- #modal-dialog -->
                <div class="modal fade" id="delete-dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">Delete Dialog</h4>
                            </div>
                            <div class="modal-body">
                                Do you want to delete this person?
                            </div>
                            <div class="modal-footer">
                                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">No</a>
                                <a href="/registry/persons_search/" class="btn btn-sm btn-success">Yes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #modal-dialog -->

                
                <!-- begin panel -->       
                <div class="panel panel-inverse">
                    <div class="panel-heading"> 
                        <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>                           
                        <h4 class="panel-title"><b>Persons List &nbsp &nbsp<i class="fa fa-navicon"></i></b></h4>
                    </div>

                    {% if resultsets %}
                    <div class="panel-body">
                        <div class="table-responsive">
                        <!--<table id="data-table" class="table table-striped table-bordered">-->
                        <table id="data-table" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Surname</th>
                                        <th>Sex</th>  
                                        <th>Residence</th>
                                        <th>OrgUnit</th>                        
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for resultset in resultsets %}
                                    {% for result in resultset %}
                                    <tr>                                        
                                        <td>{{ result.id }}</a></td>
                                        <td>{{ result.first_name }}</td>
                                        <td>{{ result.surname }}</td>
                                        <td>{{ result.sex_id|gen_value:vals }}</td>

                                        
                                        {% for pgeoloc in result.pgeolocs %}
                                            <td>{{ pgeoloc.area_name }}</td>
                                        {% endfor %}
                                        
                                        {% for porg in result.porgs%}
                                            <td>{{ porg.org_unit_name}}</td>
                                        {% endfor %}
                                        
                                        <td> 
                                        <button id="btn_create_account" type="submit" onClick="jsCreateUser()" class="btn  btn-sm btn-primary m-r-5">
                                        <b>Create Account</b>&nbsp&nbsp<i class="fa fa-lock"></i>
                                        </button>
                                        <button id="btn_view_details" onClick="window.location.href='/registry/view_person/{{ result.id }}'" class="btn  btn-sm btn-primary m-r-5">
                                        <b>View</b>&nbsp&nbsp<i class="fa fa-binoculars"></i>
                                        </button>

                                        <a href="#delete-dialog" class="btn btn-sm btn-danger m-r-5" data-toggle="modal">
                                        <b>Delete</b>&nbsp&nbsp<i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% endfor %}  
                                </tbody>
                            </table>
                        </div>
                    <!--</div>-->
                </div>
                <!-- end panel -->
                {% else %}
                    <div class="norecords" align="center"><b>No records found.</b></div>
                {% endif %}

            </div>
            <!-- end col-12 -->
        </div>
        <!-- end row -->
</div>
{% endblock primary %}

{% block lazy_javascript_code %}
    <script src="/static/plugins/parsley/dist/parsley.js"></script>
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
    <script src="{% static 'js/custom_js.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table-locale-all.min.js' %}"></script>    
    <script>
    </script>
    <script>
        $(document).ready(function() 
        {
            $('#data-table').bootstrapTable(
            { 
                toggle: 'table', 
                search: 'true',
                locale: 'en-US',
                pagination: 'true',
                pageNumber: 1,
                pageSize: 10,
                //showRefresh: true,
                showToggle: true,
                //showColumns: true,
                singleSelect: true,
                clickToSelect:true,
                maintainSelected: true,


                
                onClickRow: function (row, $element)
                {
                    // row: the record corresponding to the clicked row, 
                    // $element: the tr element
                   
                    person_id = row[0];
                    person_fname = row[1];
                    person_sname = row[2];
                    localStorage.setItem("person_id",person_id);
                    localStorage.setItem("person_fname",person_fname);
                    localStorage.setItem("person_sname",person_sname);
                    //console.log(person_id);
                    //console.log(person_fname);
                    //console.log(person_sname);
                }
                
            });
        });
    </script>
    
    <!--
    <script src="{% static 'plugins/DataTables/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/table-manage-default.demo.min.js' %}"></script>
    
    <script>
        $(document).ready(function() {
            TableManageDefault.init();
        });
    </script>
    -->
    <script src="{% static 'js/apps.js' %}"></script>

{% endblock lazy_javascript_code%}