{% extends 'base_home.html' %}
{% load staticfiles %}

{% block page_title %} {{block.super}} CSRF error {% endblock page_title%}    

{% block primary %}
<!-- begin right-content -->
<div class="right-content">
    <!-- begin register-header -->
    <div class="register-header">
        <h4 class="brand shome">Department of Children Services (DCS)</h4>
    </div>
    <h1 class="register-header">
        <small>There was a server error while processing your request - CSRF Error</small>
    </h1>
    <!-- end register-header -->  
    <!-- begin register-content -->
    <div class="register-content"> 

        <div class="m-t-40 m-b-40">
            <p><strong>Cross-Site Request Forgery (CSRF) error may occur because of:</strong></p>
			<ol type="a">
			<li>Using the <strong>back button</strong></li>
			<li>An actual <strong>attack on your browser requests to the server</strong></li>
			<li>A <strong>other reason</strong></li>
			</ol>
		</div>
		<div class="m-t-20 m-b-20 p-b-20">
	        Please visit our <a href="{% url 'home' %}" class="text-success">home page</a> or 
	        <a href="{% url 'login' %}" class="text-success">login page</a> to start a fresh or contact administrator at cpims&lt;@&gt;labour&lt;dot&gt;go.ke
	    </div>
		<div class="promo m-t-40">
		
				<h5>Important Links</h5>
				<p>
						<span><a href="https://stats.uptimerobot.com/K85YJUmxl" target="_blank"><img src="{% static 'img/statuspage.jpg' %}" height="48">Status Page</a></span>
						<span><a href="https://cpims-docs.readthedocs.io/en/latest/" target="_blank"><img src="{% static 'img/cpimsdocs.png' %}" height="48">CPIMS Docs</a></span>
						<span><a href="https://childprotection.go.ke/" target="_blank"><img src="{% static 'img/reports.png' %}" height="48">DCS Instance</a></span>
				</p>
				
				<h5>Partners</h5>
				<p>
					<img src="{% static 'img/logo_public.jpg' %}" height="80">
					<img src="{% static 'img/healthit.jpg' %}" height="70">
				</p>
			</div>
	            <hr />
	            <p class="text-center text-inverse">
	                &copy; {% now "Y" %} Department of Children Services (DCS). All Rights Reserved.
	            </p>
    </div>
    <!-- end register-content -->
</div>
<!-- end right-content -->
{% endblock primary %}
