<ol class="breadcrumb pull-right">
    <li><a href="#ovc_home">Home</a></li>
    <li class="active">OVC Care</li>
</ol>
<h1 class="page-header"><i class="fa fa-child"></i> OVC Care <small>Home</small></h1>

<div class="row">
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">OVC search</h4>
                </div>
                <div class="panel-body">
                    <form class="form-inline" data-parsley-validate="true" id="find_ovc_form_offline">
                        <div class="form-group m-r-10">
                            <input class="form-control" data-parsley-minlength="3" data-parsley-required="true" id="search_ovc_offline_name" name="search_ovc_offline_name" placeholder="Search . . ." type="text" data-parsley-id="4">
                        </div>
                        <button class="btn btn-sm btn-primary m-r-5"><i class="fa fa-search"></i>&nbsp;Search</button>
                    </form>
                    <br/><br/>

                    <table id="offline_ovc_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
