<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">OVC Care</li>
</ol>
<h1 class="page-header">
    <i class="fa fa-child"></i> OVC Care <small>Caregiver details</small>
</h1>

<div class="row">
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">Registration details</h4>
                </div>

                <div class="panel-body">
                    <table width="100%" class="table table-profile">
                        <tbody>
                        <tr>
                            <td class="field" style="width: 150px">First Name</td> <td id="ovc_offline_first_name"></td>
                            <td class="field">Surname</td> <td id="ovc_offline_surname"></td>
                            <td class="field">Other Names</td> <td id="ovc_offline_other_names"></td>
                        </tr>
                        <tr>
                            <td class="field">DOB</td><td id="ovc_offline_date_of_birth"></td>
                            <td class="field">AGE</td><td id="ovc_offline_age"></td>
                            <td class="field">CBO</td><td id="ovc_offline_org_unit_name"></td>
                            <td class="field">CHV</td><td id="ovc_offline_child_chv_full_name"></td>
                        </tr>
                        <tr>
                            <td class="field">Registration Date</td><td id="ovc_offline_registration_date"></td>
                            <td class="field">Has BCert</td><td id="ovc_offline_has_bcert"></td>
                            <td class="field">Birth Cert No.</td><td id="ovc_offline_bcert_no"></td>
                        </tr>
                        <tr>
                            <td class="field">CBO ID</td><td id="ovc_offline_org_unique_id"></td>
                            <td class="field">Is Disabled</td><td id="ovc_offline_is_disabled"></td>
                        </tr>
                        </tbody>
                    </table>

                    <legend class="pull-left width-full">Health and Education details</legend>
                    <div class="row">
                        <table width="100%" class="table table-profile">
                            <tbody>
                            <tr>
                                <td class="field">Immunization</td><td id="ovc_offline_immunization_status"></td>
                                <td class="field">School Level</td><td id="ovc_offline_school_level"></td>
                                <td class="field">HIV Status</td><td id="ovc_offline_hiv_status"></td>
                                <td class="field">Suppressed</td><td id="ovc_offline_suppression"></td>
                            </tr>
                            <tr id="ovc_offline_facility_row">
                                <td class="field">Facility</td><td id="ovc_offline_facility_name"></td>
                                <td class="field">ART Status</td><td id="ovc_offline_art_status"></td>
                                <td class="field">Date of Linkage</td><td id="ovc_offline_date_linked"></td>
                                <td class="field">CCC No.</td><td id="ovc_offline_cc_number"></td>
                            </tr>
                            <tr id="ovc_offline_school_row">
                                <td class="field">School Name</td><td id="ovc_offline_school_name"></td>
                                <td class="field">Class</td><td id="ovc_offline_school_class"></td>
                                <td class="field">Boarding / Day</td><td id="ovc_offline_admission_type"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <legend class="pull-left width-full">HouseHold Members details</legend>
                    <div class="row">
                        <table id="offline_ovc_household_table"></table>
                    </div>
                </div>

                <div class="panel-footer">
                    <button  class="btn btn-sm btn-primary" id="ovc_offline_form_1a"> <i class="fa fa-file-text"></i> Form 1A</button>
                    <button  class="btn btn-sm btn-primary" id="ovc_offline_form_1b"> <i class="fa fa-file-o"></i> Form 1B</button>
                    <button  class="btn btn-sm btn-primary" id="ovc_offline_form_case_plan_template"> <i class="fa fa-folder-open"></i> Case Plan Template</button>
                    <button  class="btn btn-sm btn-primary" id="ovc_offline_form_well_being"> <i class="fa fa-users"></i> Well Being</button>
                    <button  class="btn btn-sm btn-primary" id="ovc_offline_form_cpara"> <i class="fa fa-check-circle"></i> CPARA Monitoring</button>
                </div>

            </div>
        </div>
    </div>
</div>

