{% extends 'base.html' %}

{% load staticfiles %}
{% load choice_fields_filter %}
{% block page_title %} Data Clean Up{% endblock %}

{% block style_code %}
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block primary %}
<h1 class="page-header">Data Clean Up <small>Age Based</small></h1>
{% if error %}
<div class='alert alert-warning'>{{ error }}</div>
{% endif %}
<form class='form' action="{% url 'data_cleanup' %}" method="POST">
    {% csrf_token %}
    <div class='row'>
      <div class='col-lg-6'>
            Age Operator
            <select name='operator' class="form-control" id='operator'>
                    <option value="0">Select Operator</option>
                    <option value='=' {% if view_filter_values.equals %}selected='selected'{% endif %}>Equals</option>
                    <option value='>' {% if view_filter_values.greater_than %}selected='selected'{% endif %}>Greater Than</option>
                    <option value='<'{% if view_filter_values.less_than %}selected='selected'{% endif %}>Less Than</option>
                    <option value='-'{% if view_filter_values.between %}selected='selected'{% endif %}>Between</option>
                </select>
            Age
            <input type='text' name='age' class="form-control" id='age' value="{{ view_filter_values.age }}">

            School Level
            <select name='school_level' class="form-control" id='school_level'>
                <option value="0">Select Shool Level</option>
                <option value='SLSE' {% if view_filter_values.slse %}selected='selected'{% endif %}>Secondary</option>
                <option value='SLPR' {% if view_filter_values.slpr %}selected='selected'{% endif %}>Primary</option>
                <option value='SLNS' {% if view_filter_values.slns %}selected='selected'{% endif %}>NO School</option>
            </select>
           Gender
          <select name='gender' class="form-control" id='gender'>
              <option value="0">Select Gender</option>
              <option value='SMAL' {% if view_filter_values.smal %}selected='selected'{% endif %}>Male</option>
              <option value='SFEM' {% if view_filter_values.sfem %}selected='selected'{% endif %}>Female</option>
          </select>

          Has Birth Certificate
          <select name='has_bcert' class="form-control" id='has_bcert'>
              <option value="0">Has birth cert? </option>
              <option value='True' {% if view_filter_values.has_bcert_yes %}selected='selected'{% endif %}>Yes</option>
              <option value='False' {% if view_filter_values.has_bcert_no%}selected='selected'{% endif %}>No</option>
          </select>

    </div>
                    <div class='col-lg-6'>
        HIV Status
        <select name='hiv_status' class="form-control" id='hiv_status'>
          <option value="0">Select HIV Status</option>
          <option value='HSTR' {% if view_filter_values.hstr %}selected='selected'{% endif %}>HSTR</option>
          <option value='HSKN' {% if view_filter_values.hskn %}selected='selected'{% endif %}>HSKN</option>
          <option value='HSTP' {% if view_filter_values.hstp %}selected='selected'{% endif %}>HSTP</option>
          <option value='XXXX' {% if view_filter_values.xxxx %}selected='selected'{% endif %}>XXXX</option>
          <option value='HSTN' {% if view_filter_values.hstn %}selected='selected'{% endif %}>HSTN</option>
          <option value='HSRT' {% if view_filter_values.hsrt %}selected='selected'{% endif %}>HSRT</option>
        </select>
        ART Status
        <select name='art_status' class="form-control" id='art_status'>
            <option value="0">Select Art Status</option>
            <option value='ART' {% if view_filter_values.art %}selected='selected'{% endif %}>ART</option>
            <option value='ARAR' {% if view_filter_values.arar %}selected='selected'{% endif %}>ARAR</option>
            <option value='ARV' {% if view_filter_values.arv %}selected='selected'{% endif %}>ARV</option>
          </select>
         Is Disabled
          <select name='is_disabled' class="form-control" id='is_disabled'>
              <option value="0">Select Disability Status</option>
              <option value='True' {% if view_filter_values.is_disabled_yes %}selected='selected'{% endif %}>Yes</option>
              <option value='False' {% if view_filter_values.is_disabled_no %}selected='selected'{% endif %}>No</option>
            </select>
          Is OVC
          <select name='is_ovc' class="form-control" id='is_ovc'>
              <option value="0">Select Designation</option>
              <option value='CCGV' {% if view_filter_values.ccgv %}selected='selected'{% endif %}>Care Giver</option>
              <option value='COSI'{% if view_filter_values.cosi %}selected='selected'{% endif %}>Sibling</option>
              <option value='COVC'{% if view_filter_values.covc %}selected='selected'{% endif %}>COVC</option>
              <option value='CGOC'{% if view_filter_values.ccgv %}selected='selected'{% endif %}>CGOC</option>
            </select>
    </div>
  </div>
</br>
<div class='pull-right'>
<button type='submit' class='btn btn-primary'>Filter</button>
<a class='btn btn-success' onclick=export_data()><i class="fa fa-download"></i> &nbsp Export</a>
</div>
</form>
</br>
</br>
{% if data %}
<table class="table" id='age-data-table'>
<thead>
    <tr>
      <th>Names</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Is OVC</th>
      <th>Is Disabled</th>
      <th>Has Birth Cert</th>
      <th>School Level</th>
      <th>HIV Status</th>
      <th>ART Status</th>
    </tr>
  </thead>
  <tbody>
      {% for obj in data %}
    <tr>
      <td>{{ obj.first_name }} {{ obj.other_names }} {{ obj.surname }} </td>
      <td>{{ obj.age }} </td>
      <td>{{ obj.sex_id | format_choice_fields }} </td>
      <td>{{ obj.designation  | format_choice_fields }} </td>
      <td>{{ obj.is_disabled  |format_choice_fields }} </td>
      <td>{{ obj.has_bcert  | format_choice_fields }} </td>
      <td>{{ obj.school_level |format_choice_fields }}</td>
      <td>{{ obj.hiv_status | format_choice_fields }}</td>
      <td>{{ obj.art_status | format_choice_fields}}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% else %}
<div class='alert alert-info'> No Records </div>
{% endif %}
</div>

{% endblock %}

{% block lazy_javascript_code %}

<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table-locale-all.min.js' %}"></script>
<script>

    function export_data(){
        var age = document.getElementById('age').value;
        var operator = document.getElementById('operator').value;
        var school_level = document.getElementById('school_level').value;
        var hiv_status = document.getElementById('hiv_status').value;
        var art_status = document.getElementById('art_status').value;
        var url = "{% url 'data_cleanup' %}"+ '?export=True'+'&age='+age+
                  '&operator='+operator+'&school_level='+school_level+
                  '&hiv_status='+hiv_status+'&art_status='+art_status;
        window.location.href = url;
    }

    $(document).ready(function(){
      $('#age-data-table').bootstrapTable({
            toggle: 'table',
            search: 'true',
            locale: 'en-US',
            pagination: 'true',
            pageNumber: 1,
            pageSize: 10,
        });
    });
  </script>
{% endblock %}
